body{
    width: 200vh;
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../Website/pexels-pixabay-235985\ \(1\).jpg);
    height: 100vh;
    background-size: cover;
    background-position: center; }
h1{
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 60px;
}
